<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
    <title>Tableau de bord</title>
    <link rel="stylesheet" href="/styles/dashboard.css"> 
</head>
<body>
    <div class="container">
        <%- include('../../partials/sidebar') %>
        <section>
            <%- include('../../partials/header') %>
            <div class="overview">
                <h2>Overview</h2>
                <div class="categories">
                    <div class="category">
                        <span class="box">
                            <i class="fa-solid fa-user icon"></i>
                            <p>Utilitateurs</p>
                            <span class="counter-icon"><%= NofUsers %></span>
                        </span>
                    </div>
                    <div class="category">
                        <span class="box">
                            <i class="fa-solid fa-school-flag icon"></i>
                            <p>Filières</p>
                            <span class="counter-icon"><%= NofSectors %></span>
                        </span>
                    </div>
                    <div class="category">
                        <span class="box">
                            <i class="fa-solid fa-graduation-cap icon"></i>
                            <p>Étudiantes</p>
                            <span class="counter-icon"><%= NofStudents %></span>
                        </span>
                    </div>
                    <div class="category">
                        <span class="box">
                            <i class="fa-solid fa-book icon"></i>
                            <p>Sessions</p>
                            <span class="counter-icon"><%= NofAbsenceLists %></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="latest-users">
                <h2>Derniers utilisateurs</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Rôle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% latestUsers.forEach(user => { %>
                            <tr>
                                <td><%= user.lastName %></td>
                                <td><%= user.email %></td>
                                <td><%= user.role %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</body>
</html>